MONGO_URI=mongodb+srv://muhammadyazdan375_db_user:apd0QkBc5zOcxoog@modelflow.vveha5i.mongodb.net/modelflow?retryWrites=true&w=majority
SECRET_KEY=your-very-secret-key-here-change-in-production
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your-admin-password

